//color
$color-wh-lit-opac: rgba(255, 255, 255, 0.9);
$color-main: rgba(232, 96, 60, 1);
$color-main-opacity: rgba(232, 96, 60, .6);
$color-dark-grey: #808080;
$color-grey: #b9b9b9;
$color-light: #f7f7f7;
$color-pink: rgba(232,102,60,0.5);
$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.6);
$color-dark: #403940;


//font
$bebas: "Bebas Neue", sans-serif;
$helvetica: 'Helvetica Neue', sans-serif;